@media screen and (min-width: 992px) {
    /* Styling for the index.html page */
    .website_header {
        height: 10rem;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: antiquewhite;
    }

    .website_header .social_media_icon {
        height: 2.5rem;
        width: auto;
    }

    #hamburger_button {
        display: none;
    }

    .index_menu {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
    }

    .index_menu a {
        text-decoration: none;
    }

    .index_menu a:visited {
        text-decoration: none;
        color: black;
    }

    #index_main_content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #index_temple_information {
        grid-row: 1/1;
        text-align: center;
    }

    #index_hotel_card {
        grid-row: 3/3;
        text-align: center;
        position: relative;
    }

    .index_menu li {
        list-style: none;
    }

    #index_main_card {
        grid-row: 2/2;
        text-align: center;
    }

    #random_family_image {
        height: 500px;
        width: auto;
    }

    #mesa_temple_image {
        height: 500px;
        width: auto;
    }



    #action_button {
        color: black;
        background-color: antiquewhite;
        padding: 10px;
        border-radius: 10px;
        position: absolute;
        top: 400px;
        left: 800px;
   
    }

    

.website_footer {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    
}

#weather_footer {
    text-align: center;
}
  
/*Styling for the Reservation Page */
.form_element {
    display: flex;
    flex-direction: column;
    width: 10rem;
    padding: 1rem;
}

#temple_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#temple_body img {
    width: 500px;

}

table {
    border: 2px solid black;
}

td {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
}

th {
    padding: 10px;
}

/* Styling for the services page */
#services_body {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#services_body img {
    width: auto;
    height: 500px;
}



} /* End of media query */