@media screen and (min-width: 1024px){
   /* Coding for the Index Page */
    #index_header {
        background-color: antiquewhite;
        padding: 0px;
        margin: 0px;
    }
    
    #index_header img {
        height: 100px;
        width: 100px;
    }

    #hamburger_button {
        display: none;
    }

    #index_menu {
        list-style: none;
        text-decoration: none;
        display: inline;
        position: absolute;
        margin: -25px;
        padding-left: 600px;
    }

    #index_menu:visited {
        text-decoration: none;
    }

    #index_menu li{
        display: inline;
    }

    #index_main_content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 5px;
        padding: 15px;
    }

    #index_hotel_card {
        grid-column: 1/1;
        background-color: blue;
        grid-row: 1/2;
        text-align: center;
        align-items: center;
    }

    #index_hotel_card img {
        height: 300px;
        width: 300px;
    }

    #index_main_card {
        grid-column: 2/4;
        text-align: center;
        background-color: lightblue;
        grid-row: 1/2;
    }

    #index_temple_information {
        grid-column: 4/4;
        background-color: aqua;
        text-align: center;
        align-items: center;
    }

    #index_temple_information img{
        height: 300px;
        width: 300px;
    }

    footer {
        display: grid;
        background-color: blueviolet;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        
    }
/* End of the index.html styling */


    
} /* End of the media query 
