@media screen and (max-width: 767px) and (min-width: 0px){

    body {
        padding: 0;
        margin: 0;
    }
    
    /* Styling for the index.html page */
    .website_header {
        height: 5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: antiquewhite;
    }

    .website_header .social_media_icon {
        height: 2.5rem;
        width: auto;
    }

    #hamburger_button {
        display: flex;
        align-self: flex-end;
        flex-direction: column;
        justify-content:space-around;
        background-color: black;
        width: 2.5rem;
        height: 2.5rem;
    }

    .hamburger_element {
        background-color: white;
        height: 5px;
        width: 100%;
        margin: 0 auto;
        border-radius: 2.5px;
        
    }

    #menu_container {
        display: block;
    }

    

    .index_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: black;
        color: white;
        margin: 0px;
        padding: 10px;
        gap: 1rem;
    }


    .index_menu a {
        text-decoration: none;
    }

    .index_menu a:visited {
        text-decoration: none;
        color: white;
    }

    #index_main_content {
        display: grid;
    }

    #index_temple_information {
        text-align: center;
    }

    #index_hotel_card {
        display: block;
        text-align: center;
        margin: 5px;
        padding: 10px;
        
    }

    #action_button {
        background-color: #43d916;
        padding: 5px;
        border-radius: 5px;
    }

    .index_menu li {
        list-style: none;
    }

    #index_main_card {
        grid-row: 2/2;
        text-align: center;
    }

    #random_family_image {
        height: 100px;
        width: auto;
    }

    #index_hotel_card img {
        height: 100px;
        width: auto;
    }

    #mesa_temple_image {
        height: 2.5rem;
        width: auto;
    }
.website_footer {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
}

#weather_footer {
    text-align: center;
}

/*Styling for the Temple Page */
#temple_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

#temple_body img {
    width: 200px;
    height: auto;
}

#temples_container {
    text-align: center;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin: 5px;
}

#temples_container button {
    margin: 5px;
    padding: 5px;
    background-color: #43d916;
    border-radius: 5px;
}

.business_address {
    text-decoration: none;
    color: black;
}

.business_address:visited {
    text-decoration: none;
    color: black;
}


  
/*Styling for the Reservation Page */
.form_element {
    display: flex;
    flex-direction: column;
    width: 10rem;
    padding: 1rem;
}

/*Styling for the form page */
#form_box_thing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px;
}

#reservation_form {
    background-color: antiquewhite;
    padding: 25px;
    width: 150px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 150px;
    height: 100px;
}

#form_submit {
    background-color: #43d916;
    border-radius: 5px;
    padding: 10px;
}


form input {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

/*Styling for services body */
#services_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

#services_body img {
    height: 200px;
    width: 200px;
}

#missionary_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
}



    
} /*Ending bracket for the media query

