@media screen and (max-width: 767px) and (min-width: 0px){

    body {
        padding: 0;
        margin: 0;
    }
    
    /* Styling for the index.html page */
    .website_header {
        height: 5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: antiquewhite;
    }

    .website_header .social_media_icon {
        height: 2.5rem;
        width: auto;
    }

    #hamburger_button {
        display: flex;
        align-self: flex-end;
        flex-direction: column;
        justify-content:space-around;
        background-color: black;
        width: 2.5rem;
        height: 2.5rem;
    }

    .hamburger_element {
        background-color: white;
        height: 5px;
        width: 100%;
        margin: 0 auto;
        border-radius: 2.5px;
        
    }

    #menu_container {
        display: block;
    }

    

    .index_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: black;
        color: white;
        margin: 0px;
        padding: 10px;
        gap: 1rem;
    }


    .index_menu a {
        text-decoration: none;
    }

    .index_menu a:visited {
        text-decoration: none;
        color: white;
    }

    #index_main_content {
        display: grid;
    }

    #index_temple_information {
        text-align: center;
    }

    #index_hotel_card {
        display: block;
        text-align: center;
        margin: 5px;
        padding: 10px;
        
    }

    #action_button {
        background-color: lightgreen;
        color: white;
        padding: 5px;
        border-radius: 5px;
    }

    .index_menu li {
        list-style: none;
    }

    #index_main_card {
        grid-row: 2/2;
        text-align: center;
    }

    #random_family_image {
        height: 100px;
        width: auto;
    }

    #index_hotel_card img {
        height: 100px;
        width: auto;
    }

    #mesa_temple_image {
        height: 2.5rem;
        width: auto;
    }
.website_footer {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
}

#weather_footer {
    text-align: center;
}
  
/*Styling for the Reservation Page */
.form_element {
    display: flex;
    flex-direction: column;
    width: 10rem;
    padding: 1rem;
}


    
} /*Ending bracket for the media query

