@media screen and (min-width: 768px) and (max-width: 992px) {
    /* Styling for the index.html page */
    .website_header {
        height: 5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        background-color: antiquewhite;
    }

    .website_header .social_media_icon {
        height: 5rem;
        width: auto;
    }

    #hamburger_button {
        display: flex;
        align-self: flex-end;
        flex-direction: column;
        justify-content:space-around;
        background-color: black;
        width: 2.5rem;
        height: 2.5rem;
    }

    .hamburger_element {
        background-color: white;
        height: 5px;
        width: 100%;
        margin: 0 auto;
        border-radius: 2.5px;
        
    }

    .index_menu {
        display: flex;
        gap: 2rem;
        justify-content: center;
        flex-direction: column;
        background-color: black;
        color: white;
        margin: 0 auto;
        padding: 10px;

    }

    #missionary_info img {
        /* padding: 25px; */
        width: 75%;
    }

    .index_menu a {
        text-decoration: none;
        display: flex;
        justify-content: center;
    }

    .index_menu a:visited {
        text-decoration: none;
        color: white;
    }

    #index_main_content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #index_temple_information {
        grid-row: 1/1;
        text-align: center;
    }

    #index_hotel_card {
        grid-row: 3/3;
        text-align: center;
    }

    .index_menu li {
        list-style: none;
    }

    #index_main_card {
        grid-row: 2/2;
        text-align: center;
    }

    #random_family_image {
        height: 20rem;
        width: auto;
    }

    #action_button {
        color: black;
        background-color: antiquewhite;
        padding: 5px;
        border-radius: 5px;
    }
    
    #mesa_temple_image {
        height: 30rem;
        width: auto;
    }
.website_footer {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    
}

.business_address {
    text-decoration: none;
    color: black;
}

.business_address:visited {
    text-decoration: none;
    color: black;
}



#weather_footer {
    text-align: center;
}

#services_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
/*Styling for the Reservation Page */
.form_element {
    display: flex;
    flex-direction: column;
    width: 10rem;
    padding: 1rem;
}











} /*End of Media Query */